{% extends "b-col-3.html" %}


{% block col2 %}
  {% include 'includes/nav-cotizaciones.html' %}
{% endblock %}

{% block contenido %}

<div class="page-header text-center">
  <h1>Cotización </h1>
</div>

{% include 'includes/nav-cotizacion.html' %}

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">

      {% include 'views/pdf.html' %}

    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <a href="{{ path('crear_factura', {operacion: id_operacion, cotizacion: id_cotizacion })}}" class="btn btn-danger">Crear cotizacion</a>
    </div>
  </div>
</div>

{% endblock %}
