{% extends "b-col-3.html" %}


{% block col2 %}
{% include 'includes/nav-cotizaciones.html' %}
{% endblock %}

{% block contenido %}

<div class="page-header text-center">
  <h1>Cotización </h1>
</div>

{% include 'includes/nav-cotizacion.html' %}

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Estado de cuenta de la Referencia: IME14-0041 en Cotización: IME14-0041-COT-001</div>

        <table class="table">
          <tr>
            <th colspan="4" class="caption text-center">ESTADO DE CUENTA</th>
          </tr>
          <tr>
            <th class="text-left">
              Total facturado:
            </th>
            <th class="text-center">
              {{ cotizacion.signo_moneda }}
            </th>
            <th class="text-right">
              {{ cotizacion.total_factura }}
            </th>
          </tr>
          {% for cxc in cotizacion.cxc %}
          <tr>
            <td class="text-left">Abono por: {{ cxc.nombre_concepto }} </td>
            <td class="text-center">{{ cotizacion.signo_moneda }}</td>
            <td class="text-right"><strong>{{ cxc.monto_aplicable|number_format(2, '.', ',') }}</strong></td>
            <td class="text-center">
              {% if cxc.comprobante|length > 0 %}
              <form id="form_id" action="" method="post">
                <div class="btn-group" role="group" aria-label="...">
                  <input type="hidden" name="comprobante" value="{{ cxc.comprobante }}">
                  <button name="submit" type="submit" value="email" class="btn btn-default">Enviar PDF / XML al e-Mail</button>
                </div>
              </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          <tr >
            <th class="text-left">Saldo por Mercancía</th>
            <th class="text-center">{{ cotizacion.signo_moneda }}</th>
            <th class="text-right"><strong>{{ cotizacion.saldo_mercancia|number_format(2, '.', ',') }}</strong></th>
          </tr>
          <tr>
            <th class="text-left">Saldo por Despacho aduanal</th>
            <th class="text-center">{{ cotizacion.signo_moneda }}</th>
            <th class="text-right"><strong>{{ cotizacion.saldo_despacho|number_format(2, '.', ',') }}</strong></th>
          </tr>
          <tr class="bg-danger">
            <th class="text-left">Saldo total</th>
            <th class="text-center">{{ cotizacion.signo_moneda }}</th>
            <th class="text-right"><strong> {{ cotizacion.saldo_total|number_format(2, '.', ',') }}</strong></th>
          </tr>
        </table>

      </div>

    </div>
  </div>
</div>

{% endblock %}
