{% extends 'b-full_width.html' %}


{% block contenido %}



{% if operaciones|length > 0 %}

<p>
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Órdenes de compra
</p>
<p>
  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Cotizaciones
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Referencia</th>
      <th>Empresa</th>
      <th>Moneda</th>
      <th>CO</th>
      <th>Estatus</th>
      <th>


      </th>
    </tr>
  </thead>
  <tbody>
    {% for operacion in operaciones %}
    <tr>
      <td>1</td>
      <td>{{ operacion.id_u_referencia }}</td>
      <td>{{ operacion.nombre_empresa }}</td>
      <td>{{ operacion.n_espanol }}</td>
      <td>{{ operacion.nombre }}</td>
      <td>{{ operacion.estatus }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="...">
          <a href="{{ path('operacion', {operacion: operacion.id_u_referencia }) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {% if operacion.ordenes  != 0 %}| <span class="glyphicon glyphicon-list" aria-hidden="true"></span>{% endif %} {% if operacion.cotizaciones != 0 %} | <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> {% endif %}
          </a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-danger" role="alert">
  <strong>Lo sentimos!</strong> Aún no tiene proveedores registrados en su cuenta
</div>
{% endif %}

{% endblock %}
