{% extends 'b-full_width.html' %}


{% block contenido %}


<div class="col-md-3">


  {% form_theme form 'form/basic-form.html' %}

  {{ form(form, {'attr': {'novalidate': 'novalidate' }}) }}

</div>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Agregar productos</h4>

      <form id="form_id" action="" method="post">
        <input type="hidden" name="form_agregar" value="1">
        <div class="col-md-4">
          <div class="form-group">
            <label for="exampleInputPassword1">Productos</label>
            <select id="" name="" class="form-control">
              {% for producto in productos %}
              <option>{{ producto.nombre_producto }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="exampleInputPassword1">Cantidad</label>
            <input name="cantidad" type="text" class="form-control" placeholder="Cantidad">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="exampleInputPassword1">Precio</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Precio">
          </div>
        </div>
        <button class="btn btn-primary" name="submit" value="1">Agregar</button>
      </form>
    </div>
  </div>
</div>



{% endblock %}
