{% extends 'b-full_width.html' %}

{% block contenido %}
  {% if ordenes_compra|length > 0 %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Orden</th>
        <th>
          Referencia
        </th>
        <th>Proveedor</th>
        <th>Factura</th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for orden in ordenes_compra %}
      <tr>
        <th>{{ orden.id_orden }}</th>
        <td>{% if orden.id_u_orden=="" %} Sin asignar {% endif %}</td>
        <td>{% if orden.id_u_referencia=="" %} Sin asignar {% endif %}</td>
        <td>{{ orden.proveedor }}</td>
        <td>{{ orden.numero_factura }}</td>
        <td class="text-center">
          <div class="btn-group" role="group" aria-label="...">
            <a href="{{ path('orden_compra', {id_orden: orden.id_orden }) }}" class="btn btn-default">Ver</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}

  <div class="alert alert-danger" role="alert">
    <strong>No tienes órdenes de compra creadas</strong>
  </div>

  {% endif %}



{% endblock %}
