<!DOCTYPE html>
<html>
		<head>
				<title>{% block title '' %} - SEC's</title>
				<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
				<link href="{{ app.request.basepath }}/css/bootstrap.css" rel="stylesheet" type="text/css" />
				<link href="{{ app.request.basepath }}/css/font.css" rel="stylesheet" type="text/css" />
				<link href="{{ app.request.basepath }}/css/app.css" rel="stylesheet" type="text/css" />
				<link href="{{ app.request.basepath }}/css/estilos.css" rel="stylesheet" type="text/css" />
		</head>
		<body>
				{% block body %}

				{% endblock %}
		</body>
		<script src="{{ app.request.basepath }}/js/jquery/jquery.min.js"></script>
		<!-- Angular -->
		<!-- Lazy loading -->

</html>
