<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <div class="btn-group" role="group" aria-label="...">
        <a href="{{ path('cotizacion', { operacion: id_operacion, cotizacion:id_cotizacion }) }}" class="btn btn-default">Cotización</a>
        <button type="button" class="btn btn-default">Factura</button>
        <a href="{{ path('cxc', { operacion: id_operacion, cotizacion:id_cotizacion } )}}" class="btn btn-default">Cuentas x Cobrar</a>
      </div>
    </div>
  </div>
</div>
