body, html {
	width: 100%;
	height: 100%;
}

.bloques{
	width: 50%;
	min-height: 100%;
	float: left;
	position: relative;
}

#img-block{
	background: url(/img/LogIn.jpg);
}

#log-block{
	padding: 10em;
}
